// @each is use to loop through lists or maps
//this will map $colors & create class .text-primary etc...
@each $key, $val in $colors {
  //to use variable inside this kind of selector use #{$variable}
  .text-#{$key} {
    color: $val;
  }
  .bg-#{$key} {
    background-color: $val;
  }

  //light variations
  @for $i from 1 through 9 {
    .text-#{$key}-light-#{$i} {
      //mix($color1, $color2, $weight: 50%)
      //last argument is how much (%) we want to mix them
      color: mix(white, $val, $i * 10);
    }
    .bg-#{$key}-light-#{$i} {
      background-color: mix(white, $val, $i * 10);
    }
  }

  //dark variations
  @for $i from 1 through 9 {
    .text-#{$key}-dark-#{$i} {
      color: mix(black, $val, $i * 10);
    }
    .bg-#{$key}-dark-#{$i} {
      background-color: mix(black, $val, $i * 10);
    }
  }
}
